<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="sender_id" value="myWebSenderId" />
		<add key="sender_password" value="****" />
		<add key="user_id" value="myUserId" />
		<add key="user_password" value="****" />
		<add key="company_id" value="myCompanyId" />
	</appSettings>
</configuration>